<p>Bienvenue {{ contact.prenom}} sur ZooHome</p>
<p>Votre Compte a l'adresse email :{{ contact.courriel }} a bien etait crée</p>
<p>N'hesitez pas à contacter le support si besoin</p>
{# Le filtre nl2br permet de remplacer les sauts de ligne par des <br/> #}
<img src="{{ asset('ZooHome Banniere.png') }}">